*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mainconatainer{
    width: 100vw;
    height: auto;
    background-color: rgba(223, 221, 221, 0.644);
}
.nav-bar{
    width: 100vw;
    height: 8vh;
    background-color: #fff;
    display: flex;
}
.inamelogoinp{
    width: 60vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inamelogo{
    width: 8rem;
    height: 3rem;
    margin-left: 25vw;
    box-sizing: border-box;
}
.inamelogoinp input{
    width: 200px;
    height: 28px;
    background-color: rgba(245, 244, 244, 0.368);
    border: 0.5px solid rgb(143, 142, 142);
    outline: none;
    padding-left: 5px;
} 
.inamelogoinp input::placeholder{
    color: rgba(51, 50, 50, 0.763);
    font-size: 12px;
    padding-left: 38%;
}
.navicons{
    width: 40vw;
    height: 8vh;
    display: flex;
    /* background-color: rgb(244, 172, 172); */
    align-items: center;
    padding-left: 150px;
}
.naviconsizing{
    width: 25px;
    height: 25px;
    padding: 0px 10px;
}
.naviprofileimg{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.naviconmessenger{
    width: 30px;
    height: 30px;
}
.maindiscon{
    /* display conatiner */
    width: 100vw;
    height: auto;
    display: flex;
}
.statuspostcon{
    width: 60vw;
    height: auto;
    /* background-color: rgb(162, 74, 74); */
    display: flex;
    flex-direction: column;
    /* justify-content:flex-start; */
    align-items: flex-end;
}
.suggestincon{
    width: 40vw;
    height: 92vh;
}
.storycon{
    width: 35vw;
    height: 14vh;
    background-color: rgb(253, 251, 251);
    margin: 30px 0px;
    box-sizing: border-box;
    display: flex;
}
.postcon{
    width: 35vw;
    height: auto;
    /* background-color: rgb(20, 13, 13); */
}

.posts{
    width: 35vw;
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
}
.posthead{
    width: 35vw;
    height: 60px;
    /* background-color: rgb(153, 149, 149); */
    font-family: sans-serif;
    font-size: 10px;
    display: flex;
    align-items: center;
    /* justify-content:flex-start; */
}
.postimage{
    width: 35vw;
    height: auto;
    /* background-color: rgb(242, 168, 168); */
}
.postvideosize{
    width: 35vW;
    height: 550px;
}

.postfooter{
    width: 35vw;
}
.postheadlogoimg{
    width: 35px;
    height: 35px;
    padding: 0px 20px;
    border-radius: 50%;
    
}
.postimagesize{
    width: 35vw;
    height: 550px;
}

.postimagemark{
    height: 620px;
}

.likesharecomment{
    width: 35vw;
    height: 45px;
    /* background-color: rgb(50, 28, 28); */
    display: flex;
    align-items: center;
}
.lsclogo{
    width: 23px;
    height: 23px;
    padding: 0px 9px;
}
.postdiscription{
    width: 35vw;
    height: 35px;
    /* background-color: rgb(232, 143, 143); */
    display: flex;
    align-items: center;
}
.postdiscription p{
    padding-left: 7px;
}
.postlikecount{
    display: flex;
    height: 35px;
    align-items: center;
}
.postlikecount p{
    padding-left: 7px;
}
.postimagesizevkpost2{
    width: 35vw;
    height: 650px;
}
.pslkctimg{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-left: 6px;
}
.postscomment{
    width: 35vw;
    height: 35px;
    /* background-color: rgb(154, 105, 105); */
    display: flex;
    align-items: center;
}
.postscomment p{
    padding-left: 8px;
    color: rgb(165, 161, 161);
}
.postaddcomment{
    width: 35vw;
    height: 45px;
    /* background-color: rgb(45, 42, 42); */
    display: flex;
    justify-self: center;
    align-items: center;
    
}
.postaddcomment h1{
    width: 45px;
    padding-left: 5px;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.postaddcomment input{
    width: 28vw;
    height: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.162);
    outline: none;
}
::placeholder{
    font-size: 15px;
    padding-left: 5px;
    color: rgba(179, 179, 179, 0.925);
}
.linebtpcapac{
    width: 35vw;
    height: 1px;
    background-color: rgba(165, 163, 163, 0.422);
}
.postaddcomment p{
    font-size: 18px;
    padding-left: 9px;
    color: #059bc9;
    font-family: sans-serif;
}



/* story related css */
.storysbox{
    width: 85px;
    height: 14vh;
    /* background-color: rgb(53, 39, 39); */
    margin: 0px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.storyboximgdiv{
    width: 55px;
    height: 55px;
    border: 3px solid #d62976 ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.storyboximg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* box-shadow: inset 0 0 0 5px rgb(166, 108, 108); */
}
.storysbox p{
    font-size: 13px;
    color: rgba(138, 135, 135, 0.865);
    padding-top: 3px;
}
.storyboximg:hover{
    width: 200px;
    height: 100px;
}

/* suggestion container */
.suggestincon{
    padding:32px 40px;
    box-sizing: border-box;
}
.upppersuggestdiv{
    display: flex;
    width: 300px;
    height: 70px;
    background-color: rgba(197, 196, 196, 0.359);
    align-items: center;
    border-radius: 6px;
    /* justify-content: space-around; */
}
.upppersuggestdiv div p{
    font-size: 15px;
}
.suggestupperimg{
    height: 60px;
    border-radius: 50%;
    /* margin-right: 15px; */
    margin: 0px 15px;
}

.lowersuggestdiv{
    width: 300px;
    height: 300px;
    /* background-color: rgb(34, 32, 32); */
    background-color: rgba(197, 196, 196, 0.359);
    border-radius: 6px;
}
.suggmess{
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subconoflsdiv{
    width: 300px;
    height: 50px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
}
.suggectionlowerimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 15px;
}
.suggestionnamepara{
    display: flex;
}
.suggestionfollow{
    margin-left: 55px;
    color: #059bc9;
}
